doctype html
html
  include common/head.pug
  body

    include common/header
    include common/searchbar
    #site_content
      .container
        .row
          include common/leftNav
          .col-md-9.col-sm-8.col-xs-12.right_sidebar1
            #right_part
              .contentContainer
                .contentText
                  include common/Breadcrumb
                include common/homeSlidder
                include home/staticContent
                //--content_2 For New Products--!
                .contentText
                  h1 New Products For March
                  .row.margin-top.product-layout_width
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Lorem Ipsum
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d1.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €134.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Lorem second
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img4.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €21.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Lorem BIG-PACK
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img6.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €159.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Officiis phaedrum
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img13.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €26.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Et vel atqui putent, eum ad quidam adipiscing inciderint
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Munere vulputate
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img14.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €120.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p At affert congue mea, ea est tritani tacimates petentium
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Lorem ipsum dolor
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img15.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €199.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Professional context
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img16.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €126.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p In a professional context it often happens that private
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Dolorem ipsum
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img17.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €119.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Cicero famously
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/img1.png', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €171.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                //--content_2 End--!
                //--content_3--!
                .contentText
                  h1 Specials
                  .row.margin-top.product-layout_width
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Aroma Therapy
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d17.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €134.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Herbal
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d21.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €21.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Pills Drug
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d23.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €235.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Capsule Pill
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d2.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €137.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') Medication Cure
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d7.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €212.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                    .product-layout.col-md-4.col-sm-6.col-xs-12
                      .product-thumb-height
                        .product-thumb.transition
                          ul
                            li.li_product_title
                              .product_title
                                a(href='single-product.html') China GuangDong Seeds
                            li.li_product_image
                              .image
                                a(href='single-product.html')
                                  img.img-responsive(src='images/d15.jpg', width='200', height='200')
                            li.li_product_price
                              span.old_price1
                              span.new_price1 €129.00
                              span.saving1
                            li
                            li.li_product_desc
                              .caption
                                p Lorem Ipsum is simply dummy text of the printing
                            li.li_product_buy_button
                              a.btn.btn-default#but(href='cart.html', role='button') Buy Now!
                              .pull-right
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-heart
                                button.btn.btn-primary.wish_button(type='button')
                                  i.fa.fa-exchange
                //--content_3 End--!
    include common/footer