html
  head
  include ../pages/common/head.html
    
  body
    include ../pages/common/header.html
    include ../pages/common/topnav.html
    include ../pages/common/searchbar.html
    include ../pages/common/leftnav.html
    include ../pages/common/breadcrumb.html
    include ../pages/home/home.html
    include ../pages/home/newproduct.html
    include ../pages/common/footer.html