#footer1
      .container-fluid.footer-background
        .row
          .container
            .row
              .col-md-2.col-sm-3.col-xs-12.txt-center
                a(href='home.html')
                  span.logo-text DRUGSTORE
              .col-md-7.col-sm-6.col-xs-12
                #footer_menu
                  a(href='home.html') Home
                  | |
                  a(href='#') About Us
                  | |
                  a(href='#') Disclaimer
                  | |
                  a(href='#') Guarantee
                  | |
                  a(href='#') Shipping & Payment
                  | |
                  a(href='#') Privacy Policy
                  br.disable_content
                  a(href='#') Terms & Conditions
                  | |
                  a(href='#') Contact Us
                  | |
                  a(href='#')
                    | Site Map
                    span
                  //                                                <div class="footer_copyright">
                                                                                
                                                                                <p class="copyright margin-top"><a href="http://www.logicrux.com" title="Web Development & eCommerce SEO">Web Development & eCommerce SEO</a>
                                                                            </div>
              .col-md-3.col-sm-3.col-xs-12
                #social_icons.pull-right
                  a.btn.btn-default.reg_button(href='#')
                    i.fa.fa-facebook
                  a.btn.btn-default.reg_button(href='#')
                    i.fa.fa-twitter
                  a.btn.btn-default.reg_button(href='#')
                    i.fa.fa-yahoo
                  a.btn.btn-default.reg_button(href='#')
                    i.fa.fa-envelope
                  a.btn.btn-default.reg_button(href='#')
                    i.fa.fa-linkedin
              .col-md-12.col-sm-12.col-xs-12
                .copyright
                  | © 2017 All right reserved. Designed by
                  a(href='http://www.themevault.net/', target='_blank') ThemeVault.
      a.scrollTop.back-to-top#back-to-top(style='display: none', href='javascript:void(0);')
      i.fa.fa-chevron-up
