.container
      .row#search_manu(style='margin-top: 10px')
        .col-md-6.col-xs-12
          form(name='quick_find')
            .form-group
              .input-group
                input.form-control.input-lg#inputGroup(type='text', placeholder='Enter search keywords here')
                span.input-group-addon
                  a(href='#', style='color:white') Search
        .col-md-6.col-xs-12
          form(name='manufacturers')
            .form-group
              div
                select.input-lg.form-control.arrow-hide.date_class(style='font-size: 14px; background: #EAEAEA; border: none', name='manufacturers_id', size='1')
                  option(value='', selected='') Please Select manufacturers
                  option lorem
                  option lorem
                  option lorem
                  option lorem